@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color: rgb(20, 20, 20);
  background-color: rgb(230, 233, 255);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --red-color: rgb(255, 51, 51);
  --green-color: rgb(33, 196, 33);
  --blue-color: rgb(0, 102, 255);
  --orange-color: rgb(255, 148, 9);
  --purple-color: rgb(150, 31, 168);
  --pink-color: rgb(255, 51, 153);
}

body {
  margin: 20px 12px;
}

#root {
  height: 100%;
}

#app-root {
  display: grid;
  row-gap: 24px;
  column-gap: 44px;
  grid-template-areas:
    "title title"
    "content content";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

@media (min-width: theme(screens.md)) {
  body {
    margin: 20px 24px;
    max-height: calc(100vh - 40px);
  }

  #app-root {
    grid-template-areas:
      "title title"
      "nav content";
  }

  :root {
    background-image: linear-gradient(rgb(211, 217, 255), rgb(251, 235, 230));
    background-color: unset;
    height: 100vh;
  }
}

.sliding-u-l-r {
  position: relative;
}
.sliding-u-l-r:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  margin: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.7s ease;
}
.sliding-u-l-r:hover:after,
.sliding-u-l-r.selected:after,
.sliding-u-l-r-parent:hover .sliding-u-l-r:after {
  width: 100%;
}

a:not(.no-underline-ani) {
  position: relative;
  display: inline-block;
  transition: color 0.5s;
  color: var(--blue-color);
}

a:not(.no-underline-ani):hover {
  color: rgb(20, 20, 20);
}

a:not(.no-underline-ani):after {
  content: "";
  display: block;
  margin: auto !important;
  height: 2px;
  margin: -2px 0 0 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
  background-color: black;
  width: 0px;
}

a:not(.no-underline-ani):hover:after {
  width: 100%;
}

.red.nav-link:after,
.red.nav-link.selected:after {
  background-color: var(--red-color);
}

.green.nav-link:after,
.green.nav-link.selected:after {
  background-color: var(--green-color);
}

.blue.nav-link:after,
.blue.nav-link.selected:after {
  background-color: var(--blue-color);
}

.orange.nav-link:after,
.orange.nav-link.selected:after {
  background-color: var(--orange-color);
}

.purple.nav-link:after,
.purple.nav-link.selected:after {
  background-color: var(--purple-color);
}

.pink.nav-link:after,
.pink.nav-link.selected:after {
  background-color: var(--pink-color);
}

.red.content-top-border {
  border-color: var(--red-color);
}
.green.content-top-border {
  border-color: var(--green-color);
}
.blue.content-top-border {
  border-color: var(--blue-color);
}
.orange.content-top-border {
  border-color: var(--orange-color);
}
.purple.content-top-border {
  border-color: var(--purple-color);
}
.pink.content-top-border {
  border-color: var(--pink-color);
}

.title {
  grid-area: title;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
  /* overflow: auto; */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes slider {
  0% {
    max-width: 0%;
  }

  0%,
  5% {
    background-color: theme(colors.my-purple);
  }

  20%,
  30% {
    background-color: theme(colors.my-red);
  }

  45%,
  55% {
    background-color: theme(colors.my-orange);
  }

  70%,
  80% {
    background-color: theme(colors.my-green);
  }

  90%,
  100% {
    background-color: theme(colors.my-blue);
  }

  100% {
    max-width: 100%;
  }
}

.gallery-slider {
  animation: slider 7s linear;
  animation-iteration-count: infinite;
}

@media (hover: hover) {
  .mouse-only-cover:hover {
    opacity: 100%;
  }
}

@media (hover: none) {
  .hide-without-pointer {
    display: none;
  }
}

@media (hover: hover) {
  .hide-with-pointer {
    display: none;
  }
}

.resume-shadow {
  box-shadow: theme(boxShadowColor.gray.200) 0px 0px 10px 2px;
}

.react-pdf__Page__textContent.textLayer {
  border-radius: theme(borderRadius.md);
}
